/* ProductList.css */

.product-list {
  position: relative;
  max-width: 1110px;
  min-width: 300px;
}

.background-svg {
  position: absolute;
  top: 20px;
  left: 48%;
  width: 33%;
  z-index: -1;
}

@keyframes fadeInOutScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.products.fade-in-out {
  animation: fadeInOutScale 0.5s ease-in-out;
}

.product-list {
  position: absolute;
  top: 200px;
  z-index: 2;
  padding: 0px;
  background-color: #1b1d1f;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
}

.product-list h1,
.product-list p {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.product-head-title {
  font-size: 2rem;
  color: #fef7ee;
  margin-top: 85px;
  margin-bottom: 25px;
}

.product-head-description {
  font-size: 1rem;
  color: #6f757c;
  margin: 0% 20% 0% 20%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
